:root{
/*Colors*/
  --colorBlack: #030610;
  --colorPurple: #520167
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#root{
  flex: 1;
}

html{
  font-size: 62.5%;
  /* 62.5% de 16px = 10px */
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--colorBlack);
  color: white;
  font-size: 1.6rem;
  text-align: center;
}

h1{
  position: relative;
  font-size: 3rem;

  &:after{
    content: '';
    display: block;
    margin: 10px auto 0;
    width: 10%;
    height: 5px;
    background: var(--colorPurple);
    filter: brightness(1.8);
  }
}